<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
       
    <display-name>Sindical WEB</display-name>
 
    <context-param>
        <description>State saving method: "client" or "server" (= default) See JSF Specification 2.5.2</description> 
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value> <!-- DEFAULT server -->
    </context-param>
    
    <context-param>  
        <description>Only applicable if state saving method is "server" (= default).  Defines the amount (default = 20) of the latest views are stored in session. </description>  
        <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>  
        <param-value>40</param-value>  
    </context-param>    

    <context-param>
        <description>Projeto em estágio de desenvolvimento</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
	
    <context-param>  
        <description>Primefaces Tema Bootstrap</description>
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value>  
    </context-param>
        
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
	
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    
    <context-param>
        <param-name>facelets.FACELETS_BUFFER_SIZE</param-name>
        <param-value>500000</param-value>
    </context-param>
    
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>          
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>    
    
    <servlet-mapping>  
        <servlet-name>Faces Servlet</servlet-name>  
        <url-pattern>*.jsf</url-pattern>  
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <!-- 
    <servet>
        <servet-name>Push Servlet</servet-name>
        <servet-class>org.primefaces.push.PushServlet</servet-class>
        <async-suported>true</async-suported>
    </servet>    
    
    <servet-mapping>
        <servlet-name>Push Servlet</servlet-name>  
        <url-pattern>/primepush/*</url-pattern> 
    </servet-mapping>    -->
    
    
    
    <!-- ERRORS AND EXCEPTIONS -->    
    <!-- <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/index.xhtml</location>
    </error-page>     -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.xhtml</location>
    </error-page>
    <!-- ERRORS AND EXCEPTIONS 
    <env-entry>
        <env-entry-name>com.sun.faces.ClientStateSavingPassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>-->
</web-app>
