<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Sindical WEB</display-name>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Prime Faces Resource Servlet</servlet-name>
        <servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prime Faces Resource Servlet</servlet-name>
        <url-pattern>/primefaces_resource/*</url-pattern>
    </servlet-mapping>
    
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value>  
    </context-param>
    
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
        
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <context-param>
        <param-name>org.richfaces.enableControlSkinning</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- SERVLET UPLOAD -->
    <servlet>
        <servlet-name>servletUpload</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletUpload</servlet-name>
        <url-pattern>/servletUpload</url-pattern>
    </servlet-mapping>
    <!-- UPLOAD -->
    <!-- SERVLET ENVIO ARQUIVOS CONTRIBUINTE -->
    <servlet>
        <servlet-name>servletEnvioArquivoContribuinte</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletEnvioArquivoContribuinte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletEnvioArquivoContribuinte</servlet-name>
        <url-pattern>/servletEnvioArquivoContribuinte</url-pattern>
    </servlet-mapping>
    <!-- ENVIO ARQUIVOS CONTRIBUINTE -->
    <!-- SERVLET ENVIO ARQUIVOS CONTABILIDADE -->
    <servlet>
        <servlet-name>servletEnvioArquivoContabilidade</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletEnvioArquivoContabilidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletEnvioArquivoContabilidade</servlet-name>
        <url-pattern>/servletEnvioArquivoContabilidade</url-pattern>
    </servlet-mapping>
    <!-- ENVIO ARQUIVOS CONTABILIDADE -->
    <!-- SERVLET RETORNO -->
    <servlet>
        <servlet-name>servletRetorno</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletRetorno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletRetorno</servlet-name>
        <url-pattern>/servletRetorno</url-pattern>
    </servlet-mapping>
    <!-- RETORNO -->
    <!-- SERVLET CONVENCAO -->
    <servlet>
        <servlet-name>servletConvencao</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletConvencao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletConvencao</servlet-name>
        <url-pattern>/servletConvencao</url-pattern>
    </servlet-mapping>
    <!-- CONVENCAO -->
    <!-- SERVLET APPLET -->
    <servlet>
        <servlet-name>servletApplet</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletApplet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletApplet</servlet-name>
        <url-pattern>/servletApplet</url-pattern>
    </servlet-mapping>
    <!-- APPLET -->
    <!-- SERVLET REPIS -->
    <servlet>
        <servlet-name>servletREPIS</servlet-name>
        <servlet-class>br.com.rtools.utilitarios.servletREPIS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletREPIS</servlet-name>
        <url-pattern>/servletREPIS</url-pattern>
    </servlet-mapping>
    <!-- REPIS -->
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
